# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore private JSON file
private.json

# Other files
*.classpath
*.project

# README.md.backup
README.md.backup